@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

// Colors:
$color-gray: #626262;
$color-white: white;
$color-light-white: #f5f8ff;
$color-lighter-gray: #e2e2e2;
$color-light-gray: #e2e2e2;
$color-blue: #2a7de9;
$color-dark-blue: #1865c9;
$color-red: #b32d2d;
$color-lighter-red: #ffd3d3;
$color-lighter-orange: #ffead6;
$color-lighter-green: #dffff0;
$color-ligther-blue: #edf3ff;

$box-border-radius: 0.43rem;
$box-shadow: 0.07rem 0.36rem 1.86rem 0 #acacac;

$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px,
               monitor: 1281px) !default;

.error { background-color: $color-lighter-red; }
.warning { background-color: $color-lighter-orange; }
.success { background-color: $color-lighter-green; }
.info { background-color: $color-ligther-blue; }

:root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

#messages-container {
    position: absolute;
    width: 25rem;
    text-align: center;
    top: 10%;
    right: 0;

    .message {
        display: flex;
        flex-direction: column;
        transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
        margin-bottom: 1rem;
        color: #585858;
        font-weight: 600;
        box-shadow: 1px 5px 5px 0px #e7e7e7;
        font-size: 1.1rem;
        border-radius: 6px;
        padding: 1rem 1.5rem 0 1.5rem;
    
        .message-content {
            display: inline-flex;
            justify-content: space-between;
        }
    
        button {
            float: right;
            border: none;
            background: none;
            color: #585858;
            cursor: pointer;
            margin-left: 1rem;
        }
    
        .message-expire-bar {
            margin-top: .5rem;
            height: .2rem;
            div{
                height: 100%;
                width: auto;
            }
        }
    }
}