{% extends "super/super.html" %}

{% block title %}Account details{% endblock %}

{% block content %}
<div class="form-container">
    <div id="details-box">
        <a class="top-right-button" href="{% url 'accounts:logout' %}">&#8689;</a>
        {% if not username %}
        <h3>{{user.username}}'s account</h3>
        <ul>
            <li>Joined date:   {{user.date_joined}}</li>
            <li>Last login:   {{user.last_login}}</li>
        </ul>
        
        {% else %}
        <h3>Could not find the user {{username}}!</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}