{% extends "super/super.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <img class="form-icon" src="{% static 'super/img/favicon.svg' %}" alt="">
        <h3 class="form-title">Connection</h3>
        <form method="post">
            {% csrf_token %}
            <div class="input-holder">
                {{ form.username }}
                <label class="placeholder" for="{{form.username.id_for_label}}">Email or username</label>
                {{ form.username.errors }}
            </div>

            <div class="input-holder">
                {{ form.password }}
                <label class="placeholder" for="{{form.password.id_for_label}}">Password</label>
                <div class="error-msg-container">
                    {{ form.non_field_errors }}
                </div>
                <a class="link-password-reset" href="{% url 'accounts:password-reset' %}">I forgot my password</a>
                {{ form.password.errors }}
            </div>
            
            <div class="buttons-container">
                <a class="link" href="{% url 'accounts:register' %}">Create an account</a>
                <button class="button" type="submit">Continue</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}