{% extends "super/super.html" %}
{% load static %}
{% block title %}Registration{% endblock %}

{% block content %}
<div class="form-container">
    <div id="registration-form-box" class="form-box">
        <img class="form-icon" src="{% static 'super/img/favicon.svg' %}" alt="">
        <h3 class="form-title">Registration</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                <label class="field-label" for="{{form.username.id_for_label}}">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>

            <div class="form-field">
                <label class="field-label" for="{{form.email.id_for_label}}">Email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>

            <div class="form-field">
                <label class="field-label" for="{{form.password1.id_for_label}}">Set a password</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-field">
                <label class="field-label" for="{{form.password2.id_for_label}}">Confirm password</label>
                {{ form.password2 }}
                <div class="error-msg-container">
                    {{ form.non_field_errors }}
                </div>
                {{ form.password2.errors }}
            </div>
            
            <div class="form-buttons">
                <a href="{% url 'accounts:login' %}">Login instead</a>
                <button type="submit">Continue</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}