@import "super/style/theme";

.input-holder {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
  
.input {
    height: 3.71rem;
    font-size: 1.14rem;
    padding: 1rem;
    border-radius: 0.29rem;
    border: 0.07rem solid $color-lighter-gray;
    width: 22rem;
    outline: none;
}

// Maybe don't use this in production, hasn't been cross browser tested...
.input:not(:placeholder-shown).input:not(:focus) + .placeholder {
    transform: scale(.75) translateY(-2.79rem) translateX(-0.36rem);
    color: $color-lighter-gray;
}


.input:focus {
    border: 0.14rem solid $color-blue;
} 

.input:focus + .placeholder {
    transform: scale(.75) translateY(-2.79rem) translateX(-0.36rem);
    color: $color-blue;
} 

.placeholder {
    position: absolute;
    top: 1.21rem;
    left: 0.57rem;
    padding: 0 0.57rem;
    background-color: $color-white;
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1), opacity 150ms cubic-bezier(0.4,0,0.2,1);
    color:$color-gray;
    cursor: text;
}

.buttons-container {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.button {
    background-color: $color-blue;
    border: none;
    border-radius: $box-border-radius;
    color: $color-white;
    padding: 0.6rem 1rem;
    font-size: 1.1rem;
    cursor: pointer;

    transition: background-color 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        background-color: $color-dark-blue;
    }
}

.link {
    border: none;
    border-radius: $box-border-radius;
    color: $color-blue;
    padding: 0.6rem 0.4rem;
    font-size: 1.1rem;
    cursor: pointer;
    text-decoration: none;

    transition: background-color 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        background-color: $color-light-white;
        color: $color-dark-blue;
    }
}

.form-icon {
    width: 3.5rem;
    height: 3.5rem;
    margin: 1rem auto;
}

.form-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-box {
    position: relative;
    flex-wrap: wrap;
    box-shadow: $box-shadow;
    padding: 6rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.57rem;
}

.form-title {
    font-weight: normal;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: default;
}

.link-password-reset {
    color: $color-blue;
    margin: 0.3rem;
    &:hover {
        color: $color-dark-blue;
    }
}

.top-right-button {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
    color: $color-light-gray;
}

.errorlist {
    color: $color-red;

    font-size: 0.9rem;
    list-style-type: none;
    margin: 0.6rem;
}

.error-msg-container {
    width: 100%;
}



#registration-form-box {
    padding-top: 2rem;
    padding-bottom: 2rem;
}


#password-reset-confirm-form-box .buttons-container, .info-box {
    justify-content: center;
    text-align: center;
    a {
        color: $color-dark-blue;
    }
}

#password-reset-done-form-box {
    text-align: center;

    a {
        margin-top: 1rem;
        color: $color-blue;
        &:hover {
            color: $color-dark-blue;
        }
    }
}

#details-box {
    position: relative;
    padding: 6rem;
    border-radius: $box-border-radius;
    box-shadow: $box-shadow;
    color: $color-gray;
    font-size: 1.2rem;

    h3 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    ul {
        list-style-type: none;
        box-sizing: border-box;
        li {
            margin-bottom: .7rem;
        }
    }
}


@media (min-width: map-get($breakpoints, monitor)) {
    :root { font-size: 16px; }
}

@media (min-width: map-get($breakpoints, desktop) + 1) and (max-width: map-get($breakpoints, monitor) - 1) {
    :root { font-size: 14px; }
}

@media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop)) {
    :root { font-size: 10px; }
    .form-box { box-shadow: none; }
}

@media (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop)) and (orientation: landscape) {
    :root { font-size: 8px; }
    .form-box { box-shadow: none; }
}

@media (max-width: map-get($breakpoints, phone)) {
    :root { font-size: 8px; }
    .form-box { box-shadow: none; }
}