{% extends "super/super.html" %}
{% load static %}
{% block title %}Setup a new password{% endblock %}

{% block content %}

<div class="form-container">
  <div id="password-reset-confirm-form-box" class="form-box">
      {% if validlink %}
      <img class="form-icon" src="{% static 'super/img/favicon.svg' %}" alt="">
      <h3 class="form-title">Setup a new password</h3>
      <form method="post">
          {% csrf_token %}
          <div class="input-holder">
              {{ form.new_password1 }}
              <label class="placeholder" for="{{form.new_password1.id_for_label}}">New password</label>
              {{ form.new_password1.errors }}
          </div>
          <div class="input-holder">
              {{ form.new_password2 }}
              <label class="placeholder" for="{{form.new_password2.id_for_label}}">Confirm password</label>
              <div class="error-msg-container">
                  {{ form.non_field_errors }}
              </div>
              {{ form.new_password2.errors }}
          </div>
          
          <div class="buttons-container">
              <button class="button" type="submit">Save password</button>
          </div>
      </form>
      {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
      {% endif %}
  </div>
</div>
{% endblock %}