{% extends "super/super.html" %}
{% load static %}
{% block title %}Password change{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <img class="form-icon" src="{% static 'super/img/favicon.svg' %}" alt="">
        <h3 class="form-title">Password Change</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-field">
                {{ form.old_password }}
                <label class="field-label" for="{{form.old_password.id_for_label}}">Old password</label>
                {{ form.old_password.errors }}
            </div>

            <div class="form-field">
                {{ form.new_password1 }}
                <label class="field-label" for="{{form.new_password1.id_for_label}}">New password</label>
                {{ form.new_password1.errors }}
            </div>
            <div class="form-field">
                {{ form.new_password2 }}
                <label class="field-label" for="{{form.new_password2.id_for_label}}">Confirm new password</label>
                <div class="error-msg-container">
                    {{ form.non_field_errors }}
                </div>
                {{ form.new_password2.errors }}
            </div>
            
            <div class="form-buttons">
                <a href="{% url 'accounts:details' %}">Go back to my account page</a>
                <button type="submit">Continue</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}