{% extends "super/super.html" %}
{% load static %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-box" id="password-reset-form-box">
        <img class="form-icon" src="{% static 'super/img/favicon.svg' %}" alt="">
        <h3 class="form-title">Password reset</h3>
        <form method="post">
            {% csrf_token %}
            <div class="input-holder">
                {{ form.email }}
                <label class="placeholder" for="{{form.email.id_for_label}}">Recovery email</label>
                {{ form.email.errors }}
            </div>
            
            <div class="buttons-container">
                <button class="button" type="submit">Send email</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}