div {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
        position: relative;
        font-size: 5rem;
        color: #27AB78;
    }
    p {
        font-size: 1.5rem;
    }
}

body {
    animation: colorchange 5s linear 1s infinite;
    -webkit-animation: colorchange 5s linear 0s infinite alternate;
}

@keyframes colorchange
{
    0%   {background: #fff;}
    100% {background: #e3f1ec;}
}

@-webkit-keyframes colorchange
{
    0%   {background: #fff;}
    100% {background: #e3f1ec;}
}