<script>
    function removeMessage(id){
        message = document.getElementById(id);
        if (message == null)
            return;
        message.style.opacity = 0
        setTimeout(() => {
            message.remove()
        }, 300);
    }
    </script>

{% if messages %}
    <div id="messages-container">
        {% for message in messages %}
        <div id="message_{{forloop.counter}}"class="message {{message.level_tag}}">
            <div class="message-content">
                <span>{{message}}</span>
                <button onclick="removeMessage('message_{{forloop.counter}}')">&#10006;</button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}