{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <meta name="author" content="Fred Perron">
        <meta name="description" content="Project description">
        <link rel="shortcut icon" href="{% static 'super/img/favicon.svg' %}" type="image/x-icon">
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>

{% include "super/static.html" %}
{% block staticfiles %}
{% endblock %}