{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <meta name="author" content="Fred Perron">
        <meta name="description" content="Project description">
        <link rel="shortcut icon" href="{% static 'super/img/favicon.svg' %}" type="image/x-icon">
        {% compress css %}
        <link type="text/x-scss" href="{% static 'super/style/theme.scss' %}" rel="stylesheet" media="screen">
        {% if scss_path %}
        <link type="text/x-scss" href="{% static scss_path %}" rel="stylesheet" media="screen">                
        {% endif %}
        {% endcompress %}

        {% if css_path %}
        <link type="text/css" href="{% static css_path %}" rel="stylesheet" media="screen">                
        {% endif %}

        {% if ts_path %}
        {% compress js %}
        <script type="text/typescript" charset="utf-8" src="{% static ts_path %}"></script>
        {% endcompress %}
        {% endif %}
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
